<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Bem-vindo - Livraria Mastertech</h1>
<p>Cadastre os livros</p>

<form action="/cadastrar" method="post">
    <label>Nome: </label>
    <input type="text" name="nome">

    <label>Autor: </label>
    <input type="text" name="autor">

    <label>Descrição</label>
    <textarea name="descricao" id="" cols="30" rows="10"></textarea>

    <button>Cadastrar</button>
</form>
</body>
</html>